@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #5e53bf;
  --color-primary-hover: #473da4;
  --color-primary-dim: #554cad;
  --color-primary-20: rgba(183, 176, 244, 0.2);
  --color-primary-text: #9f95f5;
  --color-primary-text-light: #b7b0f4;
  --color-primary-white: #e1deff;
  --color-dark: #120f1b;
  --color-black: #0c0916;
}

:root {
  font-family: "Rubik", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 100;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-dark);
}

a {
  font-weight: 400;
}
